{% set bannerSvg %}
	<svg class="sb-news-banner__nameplate-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 663 103" aria-label="Daily Flugelhorn">
		<g class="sb-news-banner__nameplate-text">
			<path d="M67.1,54.14c0,13.32-9.69,19.58-25.53,28.16c-10.29-3.33-19.18-6.06-31.08-6.06c-2.83,0-5.85,1.31-9.08,4.64l-1.51-1.72
				l9.89-8.88c5.85-5.25,6.46-9.79,6.46-13.73v-7.47h-1.31c-4.84,0-8.07,1.21-9.69,4.54l-1.11-0.2c0.5-11,5.95-15.04,11.81-15.04h0.3
				v-3.13c0-5.45,2.93-9.18,10.5-14.03l-0.2-0.2c-3.53,0.91-6.96,1.61-9.99,1.61c-6.16,0-11.4-4.54-15.24-16.05l1.01-1.31
				c1.21,2.02,4.14,7.27,12.62,7.27c7.97,0,19.38-3.53,27.45-3.53c13.42,0,24.73,5.75,24.73,25.33V54.14z M32.08,19.92l-0.5,0.1
				c-2.12,0.4-3.63,1.82-3.63,4.54V50c0,7.27-4.04,11.81-11.71,17.66l0.1,0.2c1.41-0.5,4.04-1.51,5.35-1.51
				c2.12,0,6.06,0.61,10.4,1.51V19.92z M55.49,35.26c-0.2-11.1-4.14-16.05-17.16-16.05c-1.11,0-2.83,0.2-4.44,0.4v25.63L55.49,35.26z
				 M55.49,44.65v-7.67l-21.6,9.89v7.77L55.49,44.65z M55.49,46.36l-21.6,9.89v12.01c6.26,1.41,13.73,3.63,18.27,5.05
				c2.12-1.61,3.33-5.65,3.33-13.73V46.36z"/>
			<path d="M108.48,73.21c-2.32,2.22-5.65,5.45-7.67,7.47c-3.23-2.52-7.37-5.45-9.39-6.86l-7.97,6.86c-2.83-2.32-7.37-5.65-10.9-7.97
				v-0.4c1.11-0.71,1.72-1.61,1.72-5.05v-11.4c3.63-1.72,6.76-3.43,8.98-4.84c-4.14-1.51-7.57-5.35-7.57-10.8
				c0-7.06,3.43-10.29,6.56-14.03c1.62-2.02,2.62-3.33,3.73-5.05c4.84,2.12,13.32,6.06,18.87,8.07v0.4c-1.21,0.91-1.72,2.22-1.72,4.74
				v36.23c0.91,0.91,4.04,2.73,5.15,2.32L108.48,73.21z M92.73,34.76c-4.34-2.62-6.26-3.83-8.28-3.83c-1.82,0-6.36,1.31-6.36,9.28
				c0,5.35,4.74,9.69,11.3,9.69c0.91,0,2.12-0.3,3.33-0.71V34.76z M92.73,69.98V51.51c-1.11,0.4-2.22,0.71-3.43,0.71
				c-1.51,0-3.23-0.4-4.54-0.81c-0.5,0.91-0.71,2.42-0.71,4.24v14.23c1.72,1.11,3.03,2.22,4.95,3.33L92.73,69.98z"/>
			<path d="M130.38,73.21l-7.87,7.47c-2.22-1.72-6.76-4.95-9.59-6.76v-0.4c1.31-0.81,1.72-1.92,1.72-4.74V31.23l-1.31-0.81
				c-2.12-1.31-2.83-1.31-3.94-1.31l-0.1-0.4l7.87-7.57c2.22,1.72,6.56,4.84,9.59,6.86v0.4c-1.21,0.71-1.72,1.72-1.72,4.44v37.85
				c3.13,2.02,4.24,2.22,5.15,2.22L130.38,73.21z M117.66,16.09l-3.23-3.53c2.83-2.83,9.59-10.09,11.3-12.62
				c0.81,1.01,2.83,5.35,3.73,7.67C127.05,9.63,120.89,14.07,117.66,16.09z"/>
			<path d="M151.27,73.11c-2.02,1.92-5.35,5.25-7.77,7.57c-2.93-2.22-7.06-5.05-9.69-6.76v-0.4c1.21-0.5,1.72-1.82,1.72-4.84V8.82
				c0-2.42-0.2-4.04-1.01-5.15l0.4-0.2c1.41,0.4,3.43,2.02,4.24,4.14h0.2c1.31-3.43,4.34-6.66,7.87-7.67l0.3,0.2
				c-0.81,1.41-1.61,3.23-1.61,6.76v63.68c1.61,1.21,3.94,2.42,5.15,2.32L151.27,73.11z"/>
			<path d="M189.01,100.56c0-4.04-1.82-7.27-9.49-7.27c-7.77,0-12.62,5.05-20.18,5.05c-4.94,0-8.38-2.72-8.38-7.67
				c0-7.17,5.25-10.5,14.23-12.62v-0.2l-9.18-4.95v-0.4c1.11-0.61,1.72-1.92,1.72-3.94V31.23c-2.32-1.61-4.04-2.32-5.25-2.22l-0.1-0.3
				c1.72-1.61,5.65-5.25,7.87-7.57c3.03,2.32,6.96,5.15,9.59,6.86v0.4c-1.21,0.81-1.72,1.72-1.72,4.84v36.03
				c1.61,1.01,5.45,3.13,8.48,4.74l0.2-0.2V30.72c-1.21-1.01-2.32-1.82-3.43-2.52v-0.1c2.22-1.92,5.25-4.84,7.27-6.96
				c2.12,1.72,5.85,4.64,8.28,6.36v0.4c-1.21,0.71-1.72,1.82-1.72,5.15v42.49c-5.25,0.91-12.31,2.52-18.37,4.14
				c-6.76,1.82-14.84,4.04-14.84,10.4c0,2.93,1.41,4.34,4.54,4.34c5.65,0,12.01-9.49,20.08-9.49c7.87,0,11.81,5.15,11.91,14.73
				L189.01,100.56z"/>
			<path d="M361.18,8.72c-2.62,2.93-8.68,9.28-11.3,11.91c-3.33-1.21-8.68-3.33-12.92-5.55h-0.2v17.36h15.14
				c-0.81,4.44-1.21,6.76-2.02,11.3c-1.41-0.71-3.53-1.21-6.06-1.21h-7.06v23.41c0,11.81-7.87,17.66-25.73,30.07
				c-3.63-2.42-7.37-4.54-14.43-4.54c-3.94,0-7.06,3.03-7.06,6.56c0,2.12,1.01,3.83,2.12,5.25l-0.1,0.1l-3.13-0.81
				c-0.81-1.41-1.61-3.33-1.61-6.86c0-8.28,7.17-13.93,13.73-13.93c3.13,0,5.95,0.5,7.67,0.91c1.31-2.02,2.42-4.34,2.42-10.6V43.13
				h-1.31c-4.84,0-8.07,1.21-9.69,4.54l-0.91-0.4c1.01-10.39,5.75-14.84,11.61-14.84h0.3v-4.94c0-1.82-0.61-4.04-1.11-4.84v-0.2
				c13.12-5.25,21.09-10.5,30.38-17.16c3.94,1.61,10.6,4.84,15.54,4.84c1.62,0,2.52-0.61,4.24-2.52L361.18,8.72z M325.86,17.1
				l-4.95,2.72v46.73c0,9.39-3.63,12.11-10.7,16.75c3.83,1.01,6.66,2.83,9.18,4.74c1.61-1.41,6.46-3.33,6.46-18.67V17.1z"/>
			<path d="M377.23,73.11c-2.02,1.92-5.35,5.25-7.77,7.57c-2.93-2.22-7.06-5.05-9.69-6.76v-0.4c1.21-0.5,1.72-1.82,1.72-4.84V8.82
				c0-2.42-0.2-4.04-1.01-5.15l0.4-0.2c1.41,0.4,3.43,2.02,4.24,4.14h0.2c1.31-3.43,4.34-6.66,7.87-7.67l0.3,0.2
				c-0.81,1.41-1.62,3.23-1.62,6.76v63.68c1.62,1.21,3.94,2.42,5.15,2.32L377.23,73.11z"/>
			<path d="M418.1,73.21c-2.93,2.73-5.15,4.84-7.67,7.57c-3.23-2.52-6.26-4.74-9.18-6.76h-0.1l-7.97,6.76
				c-3.33-2.32-7.87-5.45-11.5-7.67v-0.4c1.11-0.81,1.72-1.92,1.72-4.04V31.23c-1.62-1.21-3.94-2.42-5.15-2.32l-0.2-0.2
				c2.02-1.92,5.45-5.05,7.87-7.57c3.03,2.32,6.96,5.15,9.59,6.86v0.4c-1.21,0.61-1.72,1.82-1.72,4.84v36.33
				c1.92,1.61,3.43,3.03,4.74,3.83c0,0,3.33-2.93,3.94-3.43V30.72c-1.21-1.01-2.12-1.51-3.43-2.52v-0.1c1.92-1.72,5.35-4.84,7.47-6.96
				c2.02,1.72,5.65,4.64,8.07,6.36v0.4c-1.21,0.71-1.72,1.82-1.72,5.15v37.64c1.92,1.51,3.73,2.22,5.05,2.32L418.1,73.21z"/>
			<path d="M452.51,87.94c0,0-6.16,7.57-8.38,10.8c-4.95-2.73-11.1-4.44-18.97-3.94c-0.5,0.61-0.91,1.61-1.31,2.73h-0.1
				c-0.2-0.4-1.01-1.82-1.31-2.52c2.22-3.23,6.46-8.28,11.91-14.43l-12.82-8.68v-0.4c0.91-0.4,1.72-1.61,1.72-4.14V32.24
				c6.16-3.43,11.81-6.86,17.36-11.2c4.74,3.13,10.19,6.36,13.83,8.38v0.4c-1.11,0.81-1.71,1.92-1.71,4.24v35.52
				c0,5.35,4.34,8.07,4.34,11.4C457.05,83.1,454.33,85.62,452.51,87.94z M449.59,89.76c-0.5-7.47-6.26-7.27-7.17-15.74l-10.39,12.31
				c9.49,0.1,13.32,1.62,17.46,3.53L449.59,89.76z M442.32,71.09V33.45c-2.42-1.61-5.45-3.53-8.38-5.25l-0.3,0.2v40.17l6.66,4.84
				L442.32,71.09z"/>
			<path d="M472.59,50.8v15.44c6.16,3.94,8.68,4.94,10.5,4.94c0.71,0,1.41-0.4,2.12-1.11l0.91-0.91l1.51,1.61
				c-2.32,2.22-7.17,7.06-9.69,9.89c-4.34-2.73-12.31-7.27-17.46-9.79v-0.4c1.21-0.91,1.72-1.82,1.72-4.95V29.21
				c5.25-1.41,12.21-4.34,18.17-8.17c2.32,5.05,7.57,15.04,10.39,19.58C487.13,43.34,478.35,47.68,472.59,50.8z M473.1,27.69l-0.5,0.1
				v20.39c3.13-1.51,7.06-3.43,9.18-4.84C479.25,39.2,474.81,31.53,473.1,27.69z"/>
			<path d="M511.25,73.11c-2.02,1.92-5.35,5.25-7.77,7.57c-2.93-2.22-7.06-5.05-9.69-6.76v-0.4c1.21-0.5,1.72-1.82,1.72-4.84V8.82
				c0-2.42-0.2-4.04-1.01-5.15l0.4-0.2c1.41,0.4,3.43,2.02,4.24,4.14h0.2c1.31-3.43,4.34-6.66,7.87-7.67l0.3,0.2
				c-0.81,1.41-1.61,3.23-1.61,6.76v63.68c1.61,1.21,3.94,2.42,5.15,2.32L511.25,73.11z"/>
			<path d="M547.27,28.7c-1.31,0.81-1.41,2.32-1.41,4.64v37.74c0,8.88-2.83,16.05-16.25,21.7L528,92.08
				c5.25-4.24,7.47-8.48,7.47-17.86V32.13c-1.51-1.01-3.03-1.82-5.45-3.33l-3.23,2.52v39.86c0.71,0.71,2.42,1.82,3.43,2.52v0.2
				c-2.02,1.72-5.75,4.95-7.37,6.76c-2.42-2.02-6.16-4.84-8.17-6.26v-0.4c1.01-0.5,1.72-1.82,1.72-4.84V8.82
				c0-2.42-0.2-4.04-1.01-5.15l0.4-0.2c1.41,0.4,3.53,2.12,4.24,4.14h0.2c1.51-3.33,3.53-6.36,7.87-7.67l0.3,0.2
				c-0.91,1.41-1.61,3.23-1.61,6.76v22.2c2.62-2.02,6.76-5.75,9.28-7.97c3.13,2.22,7.47,4.84,11.2,7.27V28.7z"/>
			<path d="M586.23,29.81c-0.91,0.71-1.71,1.61-1.71,4.54v35.12c-4.64,2.62-11.91,7.17-17.36,11.2c-4.44-3.03-9.59-6.26-13.83-8.68
				v-0.4c1.21-0.5,1.72-1.82,1.72-3.94V32.24c5.15-2.93,12.11-7.37,17.36-11.2c4.24,2.72,9.49,6.06,13.83,8.38V29.81z M574.12,73.41
				V33.45c-2.32-1.61-5.75-3.73-8.38-5.25l-0.3,0.1v39.96c2.22,1.61,6.16,4.04,8.48,5.35L574.12,73.41z"/>
			<path d="M615.29,40.31h-0.4c-2.52-2.73-6.26-8.17-7.47-11.1l-2.12,2.22v36.74c4.84,3.03,5.75,3.43,7.27,3.43
				c0.71,0,1.31-0.61,1.92-1.31l0.91-1.01l1.72,1.51c-5.95,5.95-9.79,9.89-9.79,9.89c-4.24-2.83-8.88-5.35-14.13-7.87v-0.4
				c1.11-1.01,1.72-1.92,1.72-5.05V31.23c-2.12-1.61-3.53-2.22-5.05-2.32l-0.2-0.3c2.32-2.12,5.35-4.84,7.67-7.47
				c2.83,2.32,5.85,5.05,8.38,7.06c3.53-3.03,4.64-4.24,7.57-7.06c1.92,3.03,5.35,7.87,8.48,11.2
				C619.74,34.35,617.21,37.69,615.29,40.31z"/>
			<path d="M662.73,73.21c-2.02,1.92-5.35,5.25-7.77,7.57c-2.52-1.92-7.57-5.45-9.69-6.86v-0.4c1.01-0.61,1.72-1.82,1.72-4.84V32.34
				c-1.82-1.41-3.53-2.42-5.15-3.53c0,0-2.93,2.32-3.53,2.83v39.56c1.21,1.01,2.12,1.51,3.43,2.52v0.1c-2.42,2.12-5.25,4.74-7.37,6.86
				c-3.03-2.32-6.26-4.84-8.17-6.26v-0.4c0.91-0.71,1.72-1.82,1.72-5.15V31.23c-1.92-1.51-3.73-2.22-5.05-2.32l-0.2-0.2
				c2.93-2.73,5.15-4.84,7.67-7.57c3.23,2.52,6.86,5.15,9.18,6.76h0.1l7.97-6.76c3.33,2.32,7.87,5.45,11.5,7.67v0.4
				c-1.11,0.81-1.71,1.92-1.71,4.04v37.44c1.61,1.21,3.94,2.42,5.15,2.32L662.73,73.21z"/>
		</g>
		<path class="sb-news-banner__nameplate-icon" d="M221.81,68.1c-7.16,1.53-15,3.08-21.66,4.26c-1.06,0.19-2.1,2.09-2.86,3.89c-0.54,1.19-0.64-1.07-1.2-3.31
			c-0.58-2.32-1.84-4.6-0.99-4.6c1.16,0.87,2.54,1.41,3.63,1.2c5.22-0.97,10.79-2.72,16.14-4.03c1.26,0.67,2.57,1.25,3.93,1.72
			l-19.31,3.84c-1.48,0.23-2.42,3.02-2.4,4.32c0.71-1.31,1.69-3.21,2.42-3.4c6.85-1.07,14.23-2.81,21.12-4.2
			C221.02,67.91,221.41,68.01,221.81,68.1L221.81,68.1z M219.64,15.82c-13.87,4.6-21.38,19.57-16.78,33.44
			c3.46,10.44,12.81,17.28,23.13,18.06c27.21,2.05,62.19-40.05,65.38-39.22c0.42,0.15,1.33,0.32,1.92,0.15
			c0.88-0.26,1.38-0.75,1.54-1.52c0.99-5.02-20.16-17.02-20.93-17.46c-0.44-0.25-19.52-11.77-20.47-7.03
			c-0.01,0.05-0.22,0.94,0.35,2.28c0.21,0.5,0.97,1.36,1.14,1.52c2.09,1.93,3.33,4.77,3.53,9.56c0.72,17.21-10.97,50.27-33.51,47.11
			c-8.02-1.12-15.11-6.65-17.83-14.86c-3.82-11.53,2.42-23.97,13.95-27.79c11.53-3.82,23.97,2.42,27.79,13.95
			c1.2,3.63,1.41,7.36,0.76,10.87c1.13-2.15,2.09-4.29,2.87-6.28l0,0c-0.17-1.81-0.55-3.62-1.15-5.42
			c-2.14-6.45-6.69-11.42-12.32-14.25c-5.63-2.82-12.34-3.5-18.79-1.36c-6.45,2.14-11.42,6.69-14.25,12.32
			c-2.82,5.63-3.5,12.34-1.36,18.79c2.14,6.45,6.69,11.42,12.32,14.25c5.43,2.72,11.97,3.85,18.07,1.58
			c15.82-5.89,33.18-25.45,40.38-40.64c2.96,2.18,5.72,3.75,9.49,4.3c-1.63-0.04-3.03-0.25-4.33-0.58c-1.78-0.45-3.41-1.15-4.85-2.04
			c0.99,0.92,2.08,1.68,3.26,2.28c1.18,0.6,2.45,1.06,3.76,1.49c-1.45-0.24-2.82-0.51-4.12-0.91c-1.25-0.39-2.41-0.94-3.44-1.63
			c0.93,0.89,1.96,1.63,3.08,2.21c1.12,0.58,2.32,1.04,3.56,1.46c-1.38-0.24-2.7-0.5-3.93-0.89c-1.19-0.38-2.3-0.91-3.28-1.58
			c0.88,0.87,1.85,1.59,2.91,2.15c1.06,0.57,2.19,1.02,3.37,1.43c-1.33-0.23-2.58-0.48-3.76-0.85c-1.14-0.36-2.19-0.87-3.13-1.52
			c0.83,0.84,1.74,1.54,2.74,2.09c1,0.55,2.07,0.99,3.19,1.4c-1.26-0.22-2.46-0.46-3.58-0.82c-1.08-0.35-2.08-0.84-2.98-1.47
			c0.77,0.82,1.63,1.5,2.58,2.04c0.94,0.54,1.96,0.97,3,1.37c-1.19-0.21-2.34-0.45-3.4-0.8c-1.03-0.34-1.98-0.81-2.82-1.4
			c0.72,0.79,1.53,1.45,2.41,1.97c0.88,0.52,1.84,0.95,2.82,1.34c-1.14-0.21-2.23-0.43-3.24-0.76c-0.98-0.32-1.88-0.78-2.68-1.35
			c0.68,0.77,1.43,1.41,2.26,1.92c0.83,0.51,1.73,0.92,2.65,1.3c-1.08-0.19-2.11-0.41-3.07-0.73c-0.92-0.31-1.78-0.74-2.53-1.29
			c0.63,0.74,1.33,1.36,2.11,1.86c0.77,0.49,1.61,0.9,2.47,1.27c-1.03-0.19-2-0.39-2.91-0.7c-0.88-0.3-1.68-0.72-2.4-1.24
			c0.59,0.72,1.24,1.32,1.96,1.8c0.72,0.48,1.49,0.88,2.3,1.24c-0.97-0.19-1.89-0.38-2.74-0.68c-0.83-0.29-1.59-0.68-2.26-1.18
			c0.54,0.7,1.14,1.28,1.81,1.75c0.67,0.47,1.39,0.85,2.14,1.22c-0.92-0.18-1.79-0.36-2.59-0.64c-0.78-0.27-1.49-0.65-2.12-1.13
			c0.49,0.67,1.05,1.23,1.67,1.69c0.62,0.45,1.28,0.83,1.97,1.18c-0.86-0.17-1.68-0.35-2.43-0.61c-0.73-0.26-1.4-0.62-1.99-1.07
			c0.45,0.65,0.95,1.19,1.52,1.63c0.57,0.44,1.18,0.81,1.81,1.15c-0.81-0.16-1.57-0.33-2.28-0.59c-0.68-0.25-1.31-0.59-1.87-1.01
			c0.41,0.62,0.87,1.14,1.39,1.57c0.51,0.43,1.07,0.79,1.65,1.13c-0.75-0.15-1.47-0.32-2.14-0.56c-0.64-0.23-1.23-0.55-1.74-0.95
			c0.37,0.59,0.78,1.1,1.25,1.51c0.46,0.41,0.97,0.76,1.49,1.09l0,0c-0.7-0.15-1.37-0.3-1.98-0.53c-0.6-0.22-1.15-0.53-1.62-0.91
			c0.33,0.57,0.7,1.06,1.13,1.47c0.39,0.37,0.81,0.7,1.25,1l-0.04,0.04c-0.6-0.13-1.18-0.27-1.71-0.47c-0.56-0.21-1.06-0.49-1.51-0.85
			c0.29,0.54,0.62,1.01,0.99,1.41c0.31,0.33,0.66,0.62,1.02,0.9l-0.09,0.08c-0.51-0.12-1-0.25-1.45-0.42c-0.52-0.2-0.99-0.46-1.4-0.8
			c0.25,0.52,0.54,0.97,0.87,1.36c0.25,0.29,0.53,0.55,0.81,0.8l-0.15,0.12c-0.42-0.1-0.82-0.21-1.2-0.36
			c-0.47-0.19-0.91-0.43-1.29-0.75c0.22,0.5,0.47,0.92,0.75,1.29c0.19,0.25,0.4,0.48,0.62,0.7l-0.21,0.16
			c-0.34-0.09-0.66-0.19-0.96-0.31c-0.44-0.17-0.84-0.41-1.19-0.69c0.18,0.47,0.4,0.88,0.64,1.24c0.14,0.21,0.3,0.4,0.45,0.59
			l-0.27,0.21c-0.26-0.07-0.5-0.16-0.74-0.25c-0.41-0.17-0.78-0.38-1.11-0.65c0.14,0.45,0.32,0.84,0.53,1.18
			c0.1,0.17,0.21,0.33,0.32,0.48l-0.34,0.26c-0.19-0.06-0.37-0.12-0.55-0.2c-0.37-0.16-0.71-0.36-1.02-0.6
			c0.12,0.43,0.27,0.8,0.44,1.14c0.06,0.12,0.13,0.24,0.2,0.36l-0.42,0.31c-0.13-0.05-0.26-0.1-0.38-0.15
			c-0.34-0.15-0.66-0.34-0.94-0.56c0.08,0.41,0.2,0.76,0.33,1.08c0.04,0.09,0.08,0.18,0.12,0.27l-0.48,0.35
			c-0.08-0.03-0.17-0.07-0.25-0.1c-0.31-0.14-0.61-0.31-0.87-0.52c0.07,0.38,0.16,0.72,0.26,1.04l0.06,0.17
			c-0.18,0.13-0.36,0.26-0.55,0.39c-0.05-0.02-0.1-0.05-0.15-0.07c-0.29-0.14-0.57-0.31-0.81-0.5c0.04,0.36,0.1,0.68,0.17,0.99
			l0.03,0.12c-0.19,0.14-0.39,0.27-0.58,0.41l-0.09-0.05c-0.26-0.14-0.52-0.3-0.74-0.48c0.03,0.34,0.06,0.65,0.1,0.94l0.01,0.09
			c-0.2,0.14-0.4,0.27-0.59,0.41l-0.09-0.05c-0.24-0.14-0.47-0.31-0.69-0.49c0.01,0.32,0.02,0.63,0.04,0.92l0.01,0.12l-0.55,0.37
			l-0.09-0.06c-0.22-0.15-0.44-0.33-0.64-0.51c-0.02,0.31-0.02,0.6-0.03,0.89l0,0.2l-0.47,0.31c-0.06-0.05-0.12-0.1-0.17-0.15
			c-0.19-0.17-0.38-0.36-0.56-0.55c-0.02,0.38-0.04,0.76-0.08,1.14l-0.01,0.09c-6.12,3.98-11.87,7.06-16.13,8.28
			c-6.52,1.87-13.18,1.21-18.83-1.63c-5.84-2.93-10.56-8.09-12.78-14.78c-2.22-6.69-1.52-13.65,1.41-19.48
			c2.93-5.84,8.09-10.56,14.78-12.78c6.69-2.22,13.65-1.52,19.48,1.41c5.84,2.93,10.56,8.09,12.78,14.78
			c0.43,1.29,0.75,2.59,0.96,3.89c0.21-0.58,0.41-1.16,0.6-1.75c-0.19-0.81-0.41-1.62-0.68-2.43
			C248.48,18.73,233.51,11.21,219.64,15.82L219.64,15.82z M254.37,3.14c-0.03-2.46,5.16-0.15,10.29,2.44
			c1.19,0.6,32.98,17.8,28.96,21.58C291.5,29.17,254.42,7.34,254.37,3.14z"/>
	</svg>
{% endset %}

<div
	data-module="sb-news-banner"
	class="sb-news-banner {%- if params.classes %} {{ params.classes }}{% endif %}"
	{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	<div class="sb-news-banner__inner">
		{%- if params.landingPage %}
			<h1 class="sb-news-banner__nameplate">{{ bannerSvg }}</h1>
		{%- else %}
			<strong class="sb-news-banner__nameplate">{{ bannerSvg }}</strong>
		{%- endif %}
		<div class="sb-news-banner__decor">
			<div class="sb-news-banner__edition">Vol. {{ function('sb_roman_numeral', (params.date | date('Y')) - 2012) }}&emsp;No. {{ params.date | date('z') }}</div>
			<div class="sb-news-banner__date">{{ params.date | date('l, jS F Y') }}</div>
			<div class="sb-news-banner__price">2 bits</div>
		</div>
	</div>
</div>
