{% from "@components/prose/macro.twig" import sbProse %}

{%- if params.html %}
	<div
		data-module="sb-banner"
		class="sb-banner {%- if params.classes %} {{ params.classes }}{% endif %}"
		role="region"
		aria-label="Notice"
		id="{{ params.id }}"
		hidden
		{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
		<div class="sb-banner__inner">
			{{ sbProse({
				classes: 'sb-banner__body', 
				html: params.html,
			}) }}
			{%- if params.dismissable %}
				<button class="sb-banner__dismiss" type="button" data-dismiss>{% if params.dismissText %}{{ params.dismissText }}{% else %}Dismiss{% endif %}</button>
			{%- endif %}
		</div>
	</div>
{%- endif %}