{% from '@components/image/macro.twig' import sbImage %}
{% from '@components/prose/macro.twig' import sbProse %}

<article
    data-module="sb-card"
    class="sb-card {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    {%- if params.image.src %}
        <div class="sb-card__image">
            {{ sbImage(params.image) }}
        </div>
    {%- endif %}
    <div class="sb-card__inner">
        <div class="sb-card__body">
        	{% set headingHtml %}
        		<a class="sb-card__link" href="{{ params.href }}">
                    {{ params.title }}
                </a>
        	{% endset %}
        	<h3 class="sb-heading-m sb-card__heading">{{ headingHtml }}</h3>
            {{ sbProse({
    	        html: params.content
    	    }) }}
        </div>
    </div>
</article>
