{% from "@components/form-row/macro.twig" import sbFormRow %}
{% from "@components/form-label/macro.twig" import sbFormLabel %}

{% set type = params.type ?: 'text' %}
{% set id = params.id ?: params.name %}

{% set innerContent %}
	{{ sbFormLabel({
		for: id,
		required: params.required,
		html: params.label
	}) }}
	<div
		data-module="sb-input"
		class="sb-input {%- if params.container.classes %} {{ params.container.classes }}{% endif %}"
		{%- for attribute, value in params.container.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
			<input
				class="sb-input__input {%- if params.classes %} {{ params.classes }}{% endif %}"
				type="{{ type }}"
				id="{{ id }}"
				name="{{ params.name }}"
				{%- if params.placeholder %} placeholder="{{ params.placeholder }}"{% endif %}
				{%- if params.autocomplete %} autocomplete="{{ params.autocomplete }}"{% endif %}
				{%- if params.disabled %} disabled{% endif %}
				{%- if params.required %} required{% endif %}
				{%- if params.error %} aria-invalid="true"{% endif %}
				{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	</div>
{% endset %}

{{ sbFormRow({
	html: innerContent
}) }}
