{% from "@components/form-row/macro.twig" import sbFormRow %}
{% from "@components/form-label/macro.twig" import sbFormLabel %}

{%- set idPrefix = params.idPrefix ?: params.name %}
{%- set useFieldset = ((params.options | length) > 1 or params.fieldset) ? true : false %}

{% set checkboxes %}
	{%- for item in params.options %}
		{%- set id = item.id ?: idPrefix ~ '-' ~ loop.index %}
		<div class="sb-checkbox__item">
			<input
				class="sb-checkbox__input"
				type="checkbox"
				id="{{ id }}"
				name="{{ params.name }}"
				value="{{ item.value }}"
				{%- if params.error %} aria-invalid="true"{% endif %}
				{%- if item.required %} required{% endif %}
				{%- if item.checked %} checked{% endif %}
				{%- if item.disabled %} disabled{% endif %}
				{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
			<label
				class="sb-checkbox__label"
				for="{{ id }}">
				{{- item.html -}}
			</label>
		</div>
	{%- endfor %}
{% endset %}

{% set innerContent %}
	{%- if useFieldset %}
		<fieldset
			data-module="sb-checkbox"
			class="sb-checkbox {%- if params.fieldset.classes %} {{ params.fieldset.classes }}{% endif %}"
			{%- for attribute, value in params.fieldset.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
				<legend>{{ params.label }}</legend>
				{{ checkboxes }}
		</fieldset>
	{%- else %}
		<div
			data-module="sb-checkbox"
			class="sb-checkbox {%- if params.container.classes %} {{ params.container.classes }}{% endif %}"
			{%- for attribute, value in params.container.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
				{{ checkboxes }}
		</div>
	{%- endif %}
{% endset %}

{{ sbFormRow({
	html: innerContent
}) }}