{% from "@components/heading/macro.twig" import sbHeading %}

<nav
    data-module="sb-archive-navigation"
    aria-label="Meet archives by date"
    class="sb-archive-navigation {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	{{ sbHeading({
		classes: 'sb-archive-navigation__heading',
		hierarchy: 6,
		element: 'h2',
		html: params.heading
	}) }}
	<ol class="sb-archive-navigation__list">
		{%- for item in params.items %}
			<li class="sb-archive-navigation__item">
				<a class="sb-archive-navigation__link" href="{{ item.link }}" {%- if item.current %} aria-current="page"{% endif %}>
					{{- item.title -}}
				</a>
			</li>
		{%- endfor %}
	</ol>
</nav>
