{% include 'global-partials/html-head.twig' %}
{% from '@components/skiplink/macro.twig' import sbSkiplink %}
{% from '@components/phase-banner/macro.twig' import sbPhaseBanner %}

<body class="{{ body_class }}">
	
	{{ sbSkiplink({
		href: '#content',
		text: 'Skip to content'
	}) }}

	{{ sbPhaseBanner({
	    heading: phase_banner_title,
	    subheading: phase_banner_subtitle,
	    html: phase_banner_description
	}) }}

	{% block header %}
		{% include "global-partials/header.twig" %}
	{% endblock %}

	<main id="content" role="main">
		{% block main %}
			<p>No page content was found. :(</p>
		{% endblock %}
	</main>

	{% block footer %}
		{% include "global-partials/footer.twig" %}
	{% endblock %}

	<script src="{{ site.theme.link }}/dist/js/all.js"></script>
	<script>window.sb.initAll();</script>

	{{ function('wp_footer') }}
</body>