{% include 'global-partials/html-head.twig' %}
{% from '@components/skiplink/macro.twig' import sbSkiplink %}
{% from '@components/phase-banner/macro.twig' import sbPhaseBanner %}
{% from '@components/banner/macro.twig' import sbBanner %}

<body class="{{ body_class }}">
	
	{{ sbSkiplink({
		href: '#content',
		text: 'Skip to content'
	}) }}

	{{ sbPhaseBanner({
	    heading: phase_banner_title,
	    subheading: phase_banner_subtitle,
	    html: phase_banner_description
	}) }}

	{%- for banner in banners %}
		{% set bannerId = 'sbAlert-' ~ function('md5', banner.banner_text) %}
		{%- if getCookie(bannerId) == false %}
			{{ sbBanner({
				id: bannerId,
				html: banner.banner_text,
				dismissable: banner.banner_dismissable
			}) }}
		{%- endif %}
	{%- endfor %}

	{% block header %}
		{% include "global-partials/header.twig" %}
	{% endblock %}

	<main id="content" role="main">
		{% block main %}
			<p>No page content was found. :(</p>
		{% endblock %}
	</main>

	{% block footer %}
		{% include "global-partials/footer.twig" %}
	{% endblock %}

	<script src="{{ site.theme.link }}/dist/js/all.js"></script>
	<script>window.sb.initAll();</script>

	{{ function('wp_footer') }}
</body>