{% include 'global-partials/html-head.twig' %}
{% from '@components/skiplink/macro.twig' import sbSkiplink %}
{% from '@components/phase-banner/macro.twig' import sbPhaseBanner %}
{% from '@components/banner/macro.twig' import sbBanner %}

<body class="{{ body_class }}">
	
	{{ sbSkiplink({
		href: '#content',
		text: 'Skip to content'
	}) }}

	{%- if phase_banner_visible %}
		{{ sbPhaseBanner({
			heading: phase_banner_title,
			subheading: phase_banner_subtitle,
			html: phase_banner_description
		}) }}
	{%- endif %}

	{%- for banner in banners %}
		{{ sbBanner({
			id: 'sbAlert-' ~ function('md5', banner.banner_text),
			html: banner.banner_text,
			dismissable: banner.banner_dismissable
		}) }}
	{%- endfor %}

	{% block header %}
		{% include "global-partials/header.twig" %}
	{% endblock %}

	<main id="content" role="main">
		{% block main %}
			<p>No page content was found. :(</p>
		{% endblock %}
	</main>

	{% block footer %}
		{% include "global-partials/footer.twig" %}
	{% endblock %}

	{% apply spaceless %}
		<script type="purple/smart">
Special thanks to Twilight Sparkle. /  \__..--""  ;-.",'/    
She is the best pony.              ( /  \_         `.' / `.  
                                   | |    )  `;.  ,'  / \  \ 
                                   ( '.  /___/_j_    / ) |  )
                                   '\     /   __\``::'/__'  |
                                    |\_  (   / .-| |-.|  `-,|
                                   .| (   \ ( (WW| \W)j     '
             ..-----,             .|'  ',  \_\_`_|  ``-.     
          .-` ..::.  `,___        |,   ._:7        \__/      
        ,'  .:::'':::.|.`.`-.    |:'.   \    ______.-'       
      .'  .::'      '::\`.`. `-._| \ \   `"7  /              
     /   ./:'  ,.--''>-'\ `.`-.(`'  `.`.._/  (               
    -   :/:'  |     /    \  `.(   `.  `._/    \              
    |  :::'  .'    | * \|/`. (     |`-_./      |             
   .'  |||  .'     |   /|\ *`.___.-'           |             
   |   |||  |      | *                         |             
   |   ':|| '.    / \    *   /             \__/              
   | .  |||  |.--'   |      /-,_______\       \              
   |/|  |||  |     _/      /     |    |\       \             
   ` )  '::. '.   /       /     |     | `--,    \            
     \   |||  |   |      |      |     |   /      l           
      `. |||  | _/|      |      |      | (       |           
        `::||  |  |      |      |      |  \      |           
           `-._|  |       \     |       \  `.___/            
                   \_______)     \_______) Mattia            
		</script>
	{% endapply %}

	<script src="{{ site.theme.link }}/dist/js/all.js?v={{ cachebust_js_version }}"></script>
	<script>window.sb.initAll();</script>

	{{ function('wp_footer') }}
</body>
</html>