{% extends "_layout.twig" %}

{% from "@components/heading/macro.twig" import sbHeading %}
{% from "@components/prose/macro.twig" import sbProse %}
{% from "@components/section/macro.twig" import sbSection %}

{% block main %}
	<article class="sbt-archive">
		<div class="sbt-archive__inner">
			<header class="sbt-archive__header">
				{{ sbHeading({
					classes: 'sbt-archive__heading',
					hierarchy: 1,
					html: (showing_archived_meets) ? 'Meets in ' ~ (showing_archive_date | date('F Y')) : 'Upcoming meets'
				}) }}
			</header>
			<div class="sbt-archive__body">
				{%- if not showing_archived_meets %}
					{%- if meets | length > 0 %}
						{% include "partials/meet-list.twig" with { 'meets': meets } %}
					{%- else %}
						{{ sbProse({
							html: "<p><strong>There are no upcoming meets to list.</strong><br>Check back later, just in case we forgot to put it up yet.</p>"
						}) }}
					{%- endif %}
				{%- else %}
					{% include "partials/meet-list.twig" with { 'meets': meets } %}
				{%- endif %}
			</div>
			<nav class="sbt-archive__nav" aria-label="Archive navigation">
				<h2>Archives</h2>
				<ul>
					{%- for item in meet_archive %}
						<li>
							<a href="/meet/{{ item.year }}/{{ item.month }}/">
								{{- "#{item.year}-#{item.month}-01" | date('F Y') -}}
							</a>
						</li>
					{%- endfor %}
				</ul>
			</nav>
		</div>
	</article>
	
	{#<dl>
		<dt>query year</dt> <dd>{{ meet_year }}</dd>
		<dt>query month</dt> <dd>{{ meet_month }}</dd>
		<dt>calculated start</dt> <dd>{{ meet_range_start }}</dd>
		<dt>calculated end</dt> <dd>{{ meet_range_end }}</dd>
	</dl>#}

	{#{{ dump(meets)}}#}

{% endblock %}