{% extends "_layout.twig" %}

{% from "@components/heading/macro.twig" import sbHeading %}
{% from "@components/image/macro.twig" import sbImage %}
{% from "@components/prose/macro.twig" import sbProse %}
{% from "@components/section/macro.twig" import sbSection %}
{% from "@components/stack/macro.twig" import sbStack %}
{% from "@components/organiser/macro.twig" import sbOrganiser %}
{% from "@components/location/macro.twig" import sbLocation %}

{% set startTime = post.meta('meet_start_time') | normaliseCustomField %}
{% set endTime = post.meta('meet_end_time') | normaliseCustomField %}

{% block main %}
	<article 
		itemscope
		itemtype="http://schema.org/Event"
		class="sbt-meet">
		<div class="sbt-meet__banner">
			{%- if post.thumbnail %}
				{% set copyrightInfo = function('get_featured_image_copyright') %}
				{{ sbImage({
					classes: 'sbt-meet__image',
					image: {
						attributes: { 'itemprop': 'image' }
					},
					variants: ['cover'],
					src: post.thumbnail.src('meet-medium'),
					srcset: post.thumbnail.srcset,
					alt: post.thumbnail.post_content,
					attribution: {
						copyright: copyrightInfo.copyright,
						source: copyrightInfo.source
					}
				}) }}
			{%- else %}
				<div class="sbt-meet__image sbt-meet__image--blank" aria-hidden="true"></div>
			{%- endif %}
			<div class="sbt-meet__banner-inner">
				<header class="sbt-meet__header">
					{{ sbHeading({
						classes: 'sbt-meet__heading',
						hierarchy: 1,
						html: post.title
					}) }}
				</header>
				<footer class="sbt-meet__details">
					<p>We'll be meeting at
					<strong><a href="#location">{{ locations[0].name }}</a></strong>
					at
					<time datetime="{{ startTime | date('c') }}" itemprop="startDate"><strong>{{ startTime | date('g:ia') }}</strong> on <strong>{{ startTime | date(' l, j F Y') }}</strong></time>,
					until
					<strong><time datetime="{{ endTime | date('c') }}" itemprop="endDate">{{ endTime | date('g:ia') }}</time></strong>.</p>
					<p><strong><a href="#runners">{{ runners_names | join(', ', ' and ') }}</a></strong> {{ (runners_names | length > 1) ? 'are' : 'is' }} in charge.</p>
				</footer>
			</div>
		</div>
		<div class="sbt-meet__inner">
			<div class="sbt-meet__body">
				{{ sbProse({
					html: post.content
				}) }}
			</div>
			{% set infoSectionLocations %}
				{%- for location in locations %}
					{{ sbLocation(location) }}
				{%- endfor %}
			{% endset %}
			{% set infoSectionRunners %}
				{%- for runner in runners %}
					{{ sbOrganiser(runner) }}
				{%- endfor %}
			{% endset %}
			{% set infoSections %}
				<div>
					{{ sbSection({
						attributes: { 'id': 'location' },
						heading: {
							html: (runners | length > 1) ? 'Locations' : 'Meeting location'
						},
						html: infoSectionLocations
					}) }}
				</div>
				<div>
					{{ sbSection({
						attributes: { 'id': 'runners' },
						heading: {
							html: (runners | length > 1) ? 'Organisers' : 'Organiser' 
						},
						html: infoSectionRunners
					}) }}
				</div>
			{% endset %}
			{{ sbStack({
				direction: 'horizontal',
				html: infoSections
			}) }}
		</div>
	</article>
{% endblock %}