{% extends "_layout.twig" %}

{% from "@components/heading/macro.twig" import sbHeading %}
{% from "@components/image/macro.twig" import sbImage %}
{% from "@components/prose/macro.twig" import sbProse %}
{% from "@components/map/macro.twig" import sbMap %}
{% from "@components/meet-date/macro.twig" import sbMeetDate %}
{% from "@components/organiser/macro.twig" import sbOrganiser %}

{% set startTime = post.meta('meet_start_time') | normaliseCustomField %}
{% set endTime = post.meta('meet_end_time') | normaliseCustomField %}

{% set imageOrientation = false %}
{% if post.thumbnail %}
	{% set imageOrientation = post.thumbnail.width > post.thumbnail.height ? 'landscape' : 'portrait' %}
{% endif %}

{% block main %}
	<article 
		itemscope
		itemtype="http://schema.org/Event"
		class="sbt-meet"
		{%- if imageOrientation %} data-image-orientation="{{ imageOrientation }}"{% endif %}>
		<div class="sbt-meet__inner">
			<header class="sbt-meet__header">
				<div class="sbt-meet__categories">
					A {{ categories_names | join(', ', ' and ') }}
				</div>
				{{ sbHeading({
					hierarchy: 0,
					element: 'h1',
					html: post.title,
					attributes: { "itemprop": "name" } 
				}) }}
			</header>
			{%- if post.thumbnail%}
				<div class="sbt-meet__image">
					{% set copyrightInfo = function('get_featured_image_copyright') %}
					{{ sbImage({
						image: {
							attributes: { 'itemprop': 'image' }
						},
						src: post.thumbnail.src('meet-medium'),
						srcset: post.thumbnail.srcset,
						alt: post.thumbnail.alt | e('html_attr'),
						attribution: {
							copyright: copyrightInfo.copyright,
							source: copyrightInfo.source
						}
					}) }}
				</div>
			{%- endif %}
			<div class="sbt-meet__date">
				{{ sbMeetDate({
					startDate: startTime,
					endDate: endTime,
					showTime: true
				}) }}
				<span content="{{ endTime | date('c') }}" itemprop="endDate" hidden></span>
			</div>
			<div class="sbt-meet__body" itemprop="description">
				{{ sbProse({
					classes: 'sbt-meet__prose',
					html: post.content
				}) }}
			</div>
			<section class="sbt-meet__venues">
				{{ sbMap({
					points: locations
				}) }}
			</section>
			<section class="sbt-meet__organisers">
				{{ sbHeading({
					classes: 'sbt-meet__organisers-heading',
					html: 'Meet staff',
					hierarchy: 6,
					element: 'h2'
				}) }}
				<div class="sbt-meet__organisers-body">
					{%- for runner in runners %}
						{{ sbOrganiser(runner) }}
					{%- endfor %}
				</div>
			</section>
		</div>
	</article>
{% endblock %}