{% extends "_layout.twig" %}

{% from "@components/heading/macro.twig" import sbHeading %}
{% from "@components/prose/macro.twig" import sbProse %}
{% from "@components/image/macro.twig" import sbImage %}
{% from "@components/news-banner/macro.twig" import sbNewsBanner %}

{% block main %}
	{{ sbNewsBanner({
	    date: post.date | date('c')
	}) }}
	<article class="sbt-article">
		<div class="sbt-article__inner">
			<header class="sbt-article__header">
				{{ sbHeading({
					classes: 'sbt-article__heading',
					hierarchy: 1,
					html: post.title
				}) }}
				<div class="sbt-article__meta">
					Posted on <time datetime="{{ post.date | date('c') }}">{{- post.date | date('l, jS F Y') -}}</time> by {{ post.author }}.
				</div>
			</header>
			<div class="sbt-article__main">
				<div class="sbt-article__body">
					{{ sbProse({
						html: post.content
					}) }}
				</div>
			</div>
		</div>
	</article>
{% endblock %}