{%- set htmlClasses = 'sb-button' %}
{%- if params.variants %}
    {%- for v in params.variants %}
        {%- set htmlClasses = htmlClasses ~ ' sb-button--' ~ v %}
    {%- endfor %}
{% endif %}
{%- if params.classes %}
	{% set htmlClasses = htmlClasses ~ ' ' ~ params.classes %}
{% endif %}

{%- set commonAttributes %}
    data-module="sb-button"
    class="{{ htmlClasses }}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
    {%- if params.busy %}aria-busy="true"{% endif %}
{% endset %}

{%- set buttonContent %}
    <span class="sb-button__label">{{ params.html }}</span>
{% endset %}

{%- if params.href %}
<a
    {{- commonAttributes }}
    href="{{ params.href }}"
    >
    {{- buttonContent -}}
</a>
{%- else %}
<button
    {{- commonAttributes }}
    type="{% if params.type %}{{ params.type }}{% else %}submit{% endif %}"
    {%- if params.name %}name="{{ params.name }}"{% endif %}
    {%- if params.value %}value="{{ params.value }}"{% endif %}
    {%- if params.disabled %} disabled{% endif %}
    >
    {{- buttonContent -}}
</button>
{%- endif %}