{% from "@components/subscription-form/macro.twig" import sbSubscriptionForm %}

<footer
	data-module="sb-footer"
	role="contentinfo"
	class="sb-footer {%- if params.classes %} {{ params.classes }}{% endif %}"
	{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	<div class="sb-footer__inner">
		{%- if params.newsletter.show %}
			{{ sbSubscriptionForm({
				classes: 'sb-footer__subscription-form',
				heading: params.newsletter.heading,
				description: params.newsletter.description,
				placeholder: params.newsletter.placeholder
			}) }}
		{%- endif %}
		<nav class="sb-footer__nav">
			<ul class="sb-footer__nav-list">
				{%- for item in params.navItems %}
					<li class="sb-footer__nav-item {{ item.classes | join(' ') }}">
						<a class="sb-footer__nav-link" href="{{ item.link }}" target="{{ item.target }}" {%- if item.current %} aria-current="page"{% endif %}>
							{{- item.title -}}
						</a>
					</li>
				{%- endfor %}
			</ul>
		</nav>
		{%- if params.legalText %}
			<small class="sb-footer__boilerplate">
				{{ params.legalText }}
			</small>
		{%- endif %}
	</div>
</footer>
