{% from '@components/image/macro.twig' import sbImage %}
{% from '@components/prose/macro.twig' import sbProse %}

<article
    itemscope
    itemtype="http://schema.org/Event"
    class="sb-meet-card {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- if params.horizontal %} data-horizontal{% endif %}
    {%- if params.image.src %} data-image{% endif %}
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    {%- if params.image.src %}
        {% set imageParams = merge(params.image, {
            image: {
                attributes: { 'itemprop': 'image' }
            },
            classes: 'sb-meet-card__image'
        }) %}
        {{ sbImage(imageParams) }}
    {%- endif %}
    <header class="sb-meet-card__inner">
        <div class="sb-meet-card__body">
            <h3 class="sb-heading-m sb-meet-card__title">
                <a class="sb-meet-card__link" href="{{ params.href }}" itemprop="url">
                    <span itemprop="name">{{ params.name }}</span>
                </a>
            </h3>
            <div class="sb-meet-card__location" itemprop="location">{{ params.location }}</div>
            <time class="sb-meet-card__date" itemprop="startDate">
                {{ params.startDate | date('l, jS F Y; H:ia') }}
            </time>
            {{ sbProse({
                classes: "sb-meet-card__extract",
                html: params.extract
            }) }}
        </div>
    </header>
</article>
