{% from '@components/image/macro.twig' import sbImage %}
{% from '@components/meet-date/macro.twig' import sbMeetDate %}

<article
    itemscope
    itemtype="http://schema.org/Event"
    class="sb-meet-card {%- for v in params.variants %} sb-meet-card--{{ v }} {% endfor %} {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    {%- if params.image.src %}
        {% set imageParams = merge(params.image, {
            image: {
                attributes: { 'itemprop': 'image' }
            },
            classes: 'sb-meet-card__image',
            variants: ['cover']
        }) %}
        {{ sbImage(imageParams) }}
    {%- else %}
        <div class="sb-meet-card__image" aria-hidden="true"></div>
    {%- endif %}
    <header class="sb-meet-card__inner">
        <div class="sb-meet-card__body">
            <h3 class="sb-meet-card__title" itemprop="name">
                <a class="sb-meet-card__link" href="{{ params.href }}" itemprop="url">
                    {{ params.name }}
                </a>
            </h3>
            <div class="sb-meet-card__location" itemprop="location">{{ params.location }}</div>
        </div>
        <div class="sb-meet-card__date">
            {{ sbMeetDate({
                startDate: params.date,
                attributes: { 'itemprop': 'startDate' }
            }) }}
        </div>
    </header>
</article>
