{% from "@components/heading/macro.twig" import sbHeading %}

<div
	data-module="sb-modal"
    id="{{ params.id }}"
    aria-hidden="true"
    class="sb-modal {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	<div class="sb-modal__overlay" tabindex="-1" data-micromodal-close>
		<section class="sb-modal__container" role="dialog" aria-modal="true" aria-label="{{ params.heading }}">
			<div class="sb-modal__inner">
				{# {{ sbHeading({
					classes: 'sb-modal__heading',
					html: params.heading,
					hierarchy: 4,
					attributes: { 'id': params.id ~ '-Heading' }
				}) }} #}
				<button class="sb-modal__close" type="button" data-micromodal-close="{{ params.id }}">
					<svg class="sb-modal__close-icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0V0z" fill="none"/>
						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
					</svg>
					<span class="sb-sr">Close modal</span>
				</button>
				<div class="sb-modal__body">
					{{ params.html }}
				</div>
			</div>
		</section>
	</div>
</div>
