<div
	data-module="sb-modal"
    id="{{ params.id }}"
    aria-hidden="true"
    class="sb-modal {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
	<div class="sb-modal__overlay" tabindex="-1" data-micromodal-close>
		<section class="sb-modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ params.id }}-Heading">
			<div class="sb-modal__inner">
				<header class="sb-modal__header">
					<h4 class="sb-modal__heading" id="{{ params.id }}-Heading">{{ params.heading }}</h4>
					<button class="sb-modal__close" type="button" data-micromodal-close="{{ params.id }}">
						Close <span class="sb-!-sr">modal</span>
					</button>
				</header>
				<div class="sb-modal__body">
					{{ params.html }}
				</div>
			</div>
		</section>
	</div>
</div>
