{% from "@components/modal/macro.twig" import sbModal %}
{% from "@components/heading/macro.twig" import sbHeading %}
{% from "@components/prose/macro.twig" import sbProse %}

<div
    data-module="sb-map"
    class="sb-map {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="sb-map__map-container">
        <div class="sb-map__map" id="{{ params.id }}"></div>
    </div>
    <ol class="sb-map__list">
    	{%- for loc in params.points %}
    		<li
                class="sb-map__list-item"
                itemprop="location"
                itemscope itemtype="http://schema.org/Place">
                {{ sbHeading({
                    hierarchy: 6,
                    element: 'h3',
                    classes: 'sb-map__list-name',
                    html: loc.name,
                    attributes: { "itemprop": "name" }
                }) }}
    			<div
                    class="sb-map__list-address"
                    itemprop="address">
                    {{ loc.address | split(',') | join('<br>') }}
                </div>
    			{%- if loc.travel_info or loc.accessibility_info %}
                    {% set modalId = 'Location-' ~ loop.index ~ '-Details' %}
        			<button type="button" class="sb-map__list-more" data-micromodal-trigger="{{ modalId }}">
                        <span aria-hidden="true">More info</span>
                        <span class="sb-sr">Travel and accessibility information for {{ loc.name }}</span>
                    </button>
                    {% set modalContent %}
                        {% set modalDetailsInner %}
                            {%- if loc.travel_info %}
                                <h4>Travel to <br>{{ loc.name }}</h4>
                                {{ loc.travel_info }}
                            {%- endif %}
                            {%- if loc.accessibility_info %}
                                <h4>Accessibility at <br>{{ loc.name }}</h4>
                                {{ loc.accessibility_info }}
                            {%- endif %}
                        {% endset %}
                        {{ sbProse({
                            html: modalDetailsInner
                        }) }}
                    {% endset %}
                    {{ sbModal({
                        id: modalId,
                        heading: 'Travel and accessibility information for ' ~ loc.name,
                        html: modalContent
                    }) }}
    			{%- endif %}
    		</li>
    	{%- endfor %}
    </ol>
</div>

<script>
	window.addEventListener('DOMContentLoaded', function() {
		var map = new window.sb.Map(
			document.querySelector('[data-module="sb-map"]'),
			'{{ GOOGLE_MAPS_API_KEY }}',
			function() {
				map.addMultipleLocations({{ params.points | json_encode }});
			}
		);
	});
</script>