<div
    data-module="sb-map"
    class="sb-map {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="sb-map__map-container">
        <div class="sb-map__map" id="{{ params.id }}"></div>
    </div>
    <ol class="sb-map__list">
    	{%- for loc in params.points %}
    		<li class="sb-map__list-item">
    			<strong class="sb-map__list-name">{{ loc.name }}</strong>
    			<div class="sb-map__list-address">{{ loc.address | split(',') | join('<br>') }}</div>
    			{%- if loc.travel_info or loc.accessibility_info %}
    			<a href="#">More info</a>
    			{%- endif %}
    		</li>
    	{%- endfor %}
    </ol>
</div>

<script>
	window.addEventListener('DOMContentLoaded', function() {
		var map = new window.sb.Map(
			document.querySelector('[data-module="sb-map"]'),
			'{{ GOOGLE_MAPS_API_KEY }}',
			function() {
				map.addMultipleLocations({{ params.points | json_encode }});
			}
		);
	});
</script>